<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.malarg.mind_calc">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BILLING"/>
</manifest>
